.App {
  text-align: center;
  color: transparent;
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  border-width: thick;
  border-style:double;
  border-width: 7pt;
  border-radius: 15px;
  border-color: #3B73B9;
  height: 300px;
  width: 235px;
  margin-left: 565px;
  margin-top: 170px;
  background-image: url(https://live.staticflickr.com/65535/52437671000_d50242a7e9.jpg);
  background-position: 18px 20px;
  background-size: 210px;
  background-repeat: no-repeat;
}

.App-header{
  text-align: center;
}


.HelloWorld {
  border-style: dashed;
  border-width: 5px;
  text-align: center;
  height: 75px;
  width: 150px;
  margin-left: 20px;
  border-radius: 10px;
}

.LoginButton {
  color: white;
  background-color: #3B73B9;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  border: #23599b;
  border-style: solid;
  border-radius: 100px;
  height: 30px;
  width: 100px;
  margin-top: 20px;
  
}

.LoggedInPassword {
  color: #3B73B9;
  text-align: center;
  font-family: cursive;
  border-style: solid;
  height: 500px;
  width: 750px;
  margin-left: 325px;
  border-radius: 10px;
  padding: 10px;
  border-width: 5pt;
  background-repeat:no-repeat;
  background-position: 100px 20px;
  background-size: 600px;

}

.LoggedOutButton {
  color: white;
  background-color: #3B73B9;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  border: #23599b;
  border-style: solid;
  border-radius: 100px;
  height: 28px;
  width: 100px;
  margin-top: 20px;
  margin-left: 1220px;
  text-align: center;


}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(99, 25, 25);
}

.App-link {
  color: #61dafb;
}

.username {
  margin-top: 125px;
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}